/* Сброс стандартных стилей браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для всего тела страницы */
body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт Arial */
    background: #000000; /* Устанавливаем цвет фона чёрный */
    min-height: 100vh; /* Минимальная высота равна высоте экрана, нужна для того, чтобы растянуть контейнер на весь экран */
    /* Ниже стили для позиционирования контейнера */
    display: flex; /* Включаем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

/* Основной контейнер калькулятора */
.calculator {
    background: #1c1c1c; /* Темно-серый фон для корпуса калькулятора */
    border-radius: 20px; /* Скругленные углы 20 пикселей делаем современно:) */
    padding: 20px; /* Внутренний отступ 20 пикселей от краев корпуса */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Тень для создания объемного эффекта */
    max-width: 350px; /* Максимальная ширина 350 пикселей, чтобы калькулятор не был слишком широким */
    width: 100%; /* Ширина 100% от доступного пространства, но не больше max-width */
}
